@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff')
         ;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1rem, 4vw, 3rem); 
}

body {
    font-family: 'open_sansregular', sans-serif; 
}